.header__lang-link {
  text-decoration-line: none;
  color: white;
  font-size: 24px;
  line-height: 1.67;
  font-weight: 400;
  opacity: 1;
  transition: 0.7s ease-in-out;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
