.place__title {
  font-size: 72px;
  line-height: 1.055;
  font-weight: 900;
  align-self: start;
  justify-self: start;
  margin: 0;
  grid-area: title;
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: calc(58px + 0.0546875 * (100vw - 768px));
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    /*42px 21px*/
    font-size: calc(21px + 0.046875 * (100vw - 320px));
    line-height: 1.094;
  }
}



@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    margin-left: 16px;
    max-width: calc(100% - 2 * 16px);
  }
}
