.places {
  margin: 92px auto 0 auto;
  max-width: calc(1280px - 2 * 148px);
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(100% - 9.375vw);
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: calc(100% - 6.25vw);
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 100%;
    margin-top: 64px;
  }
}
