.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;

  width: 1184px;
  margin: 0 auto 0 auto;
  padding-top: 28px;
}

.header__logo{
  background-image: url(../../images/header-logo.svg);
  /*Поменять значения*/
  width: 176px;
  height: 52px;
}

.header__links{

}

.header__lang-link{
  text-decoration-line: none;
  color: white;

  font-size: 24px;
  line-height: 28px;
  font-weight: 400;

  margin-left: 18px;
}

.header__lang-link_active{
  text-decoration-line: underline;
}


