
.cover__overlay{
  display: block;
  background-color: rgba(42, 44, 47, 0.3);
  background-size: cover;
  padding: 245px 0 245px;

  text-decoration-line: none;
  color: #fff;
}

.cover__overlay:hover{
  background-color: rgba(42, 44, 47, 0.8);
}
