.cover__overlay {
  display: block;
  background-color: rgba(42, 44, 47, 0.3);
  background-size: cover;
  padding: 245px 0;
  text-decoration-line: none;
  color: #fff;
  transition: 0.7s ease-in-out;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    padding: 195px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    padding: 115px 0;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    padding: 33px 0;
  }
}
