.place {
  margin: 80px auto 0 auto;
  display: grid;
  grid-template-columns: 460px 484px;
  gap: 48px 40px;
  grid-template-areas:
    "title  website"
    "image  text";
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(47.4%, 440px) minmax(49.1%, 456px);
    /*48px 32px*/
    gap: 48px 3.45%;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 47.3% 48.85%;
    gap: 48px 3.85%;
    margin: 73px auto 0 auto;
  }
}

/*Для исключения значительного количества переносов в __paragraph и выхода за пределы блоков __title и __link,
переход на одну колонку проводим на 516px*/
@media screen and (max-width: 516px) {
  .place {
    margin: 50px auto 0 auto;
    grid-template-columns: 100%;
    gap: 32px;
    grid-template-areas:
      "title"
      "website"
      "image"
      "text";
  }
}
