.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto 0 auto;
  padding: 92px 0 24px 0;
  max-width: calc(100% - 7.5vw);
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 88px;
    max-width: calc(100% - 6.25vw);
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 64px 118px 24px 16px;
    flex-direction: column;
    align-items: flex-start;
  }
}
