
body{
  outline: 1px solid green;
}

img{
  outline: 2px dashed cyan;
}

div{
  outline: 1px solid red;
}

h1{
  outline: 2px dashed rgb(55, 0, 255);
}

h2{
  outline: 2px dashed red;
}

h3{
  outline: 1px dashed orange;
}

h4{
  outline: 1px dashed green;
}


section{
  outline: 3px dashed red;
}

a{
  outline: 1px blue solid;
}

footer{
  outline: 3px red dashed;
}

p{
  outline: 1px rgb(153, 0, 255) solid;
}

